body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table,tr,td,th{
    border: white solid 2px;
    border-collapse: collapse;
}
table{
    text-align: center;
    background-color: black;
    color: white;
}
td,th{
    padding: 5px;
}
a{
    all: unset;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 6vh;
    height: 4vh;
    background-color: #555555;
    border-radius: 3px;
    padding: 5px;
    border: black solid 1px;
}